* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
.header {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 200px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 10rem;
}
.header__left {
  display: flex;
  gap: 4rem;
}
.header__links {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-family: 'Optimistic Text', 'Optimistic Text Normal', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  align-self: center;
}
.header__right {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-direction: center;
}
.header__right__support {
  padding-right: 5px;
  display: flex;
  gap: 2px;
  border-right: #c2c2c2 1px solid;
}
.header__links__item {
  gap: 2px;
  display: flex;
}
.icon {
  color: inherit;
}

/* Hero */
.hero {
  display: grid;
  place-items: center;
}
.title {
  width: 40%;
  text-align: center;
  margin-bottom: 16px;
  font-size: 48px;
  letter-spacing: 0.01em;
  color: #1c2b33;
  font-weight: normal;
  line-height: 120%;
  align-self: center;
}
.icon-hero {
  border-radius: 50%;
  height: 24px;
  margin-top: 5px;
  top: -4px;
}
.learn {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text-learn {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #1c2b33;
  font-weight: bold;
  line-height: 120%;
}
.communities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.meta-logo {
  margin-top: 30px;
  margin-bottom: 30px;
}
.title-com {
  width: 60%;
  text-align: center;
  margin-bottom: 16px;
  font-size: 28px;
  letter-spacing: 0.01em;
  color: #1c2b33;
  font-weight: normal;
}
.img-hero {
  width: 70%;
}
.future {
  display: grid;
  background: rgb(247, 247, 247);
  justify-items: center;
  margin-top: 4rem;
  padding: 5rem;
}
.future-children {
  width: 45%;
  text-align: center;
  margin-top: 20px;
}
.f-title {
  margin-bottom: 16px;
  font-size: 30px;
  color: #1c2b33;
}
.f-p {
  color: #465a69;
  margin: 0 0 24px;
  font-size: 16px;
  text-align: center;
}

.learn-m {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.v-f {
  width: 100%;
  margin-right: 4rem;
}
.v-c {
  margin-top: 4rem;
}
.more-about {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
  margin-right: 0;
}
